.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.card.complited {
  opacity: .5;
}

.card.complited h2 {
  text-decoration: line-through;
}

.label {
  margin: 0 10px;
  display: inline-block;
}

input {
  margin-right: 10px;
}
